# Librerias

In [1]:
import pandas as pd
import json
import requests
import warnings

#  Resultados de la F1

In [2]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

## Resultado de los pilotos

### Manera 1 (por separado)

In [3]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points']

0     26
1     18
2     15
3     12
4     10
      ..
15     0
16     0
17     0
18     0
19     0
Name: points, Length: 440, dtype: int32

In [4]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores

0             leclerc
1               sainz
2            hamilton
3             russell
4     kevin_magnussen
           ...
15    mick_schumacher
16    kevin_magnussen
17           hamilton
18             latifi
19             alonso
Name: Driver, Length: 440, dtype: object

In [5]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [6]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

### Manera 2 (grupal)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [8]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [9]:
df_results_2022.groupby(["Driver"]).agg({'points':"sum"}).sort_values(by='points',ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

## Resultado de constructores

In [10]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022['Constructor']

0      ferrari
1      ferrari
2     mercedes
3     mercedes
4         haas
        ...
15        haas
16        haas
17    mercedes
18    williams
19      alpine
Name: Constructor, Length: 440, dtype: object

In [11]:
df_results_2022.groupby(['Constructor']).agg({'points':"sum"}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Los Grandes Premios (carreras)

In [19]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}

In [20]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2010.json'
response = requests.get(url)
content=json.loads(response.content)

In [21]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(float(item['Circuit']['Location']['lat']))
        races['long'].append(float(item['Circuit']['Location']['long']))
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

# Tabla races

In [22]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.03250,50.51060,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.84970,144.96800,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.73800,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.33890,121.22000,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57000,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.84310,136.54100,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.13280,-97.64110,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.40420,-99.09070,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.70360,-46.69970,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.46720,54.60310,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [23]:
for i in races:
    print(len(races[i]))

259
259
259
259
259
259
259
259
259

In [24]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content=json.loads(response.content)

In [25]:
season ={'season':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    season['season'].append(int(item['season']))
    season['url'].append(item['url'])
pd.DataFrame(season)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [45]:
pd.DataFrame(races).to_csv('races.csv',index=False)

In [46]:
pd.DataFrame(season).to_csv('season.csv',index=False)

## Drivers

In [28]:
drivers ={'season':[],'driverId':[], 'number':[], 'code':[],
          'forename':[], 'surname':[], 'dob':[], 'nationality':[],
          'url':[]}

In [60]:
warnings.filterwarnings("ignore")

for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/drivers.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['DriverTable']
    for item in range(0,len(path["Drivers"])):
        drivers["season"].append(int(path['season']))
        drivers['driverId'].append(path['Drivers'][item]["driverId"])
        drivers["forename"].append(path['Drivers'][item]["givenName"])
        drivers["surname"].append(path['Drivers'][item]["familyName"])                       
        drivers["dob"].append(path['Drivers'][item]["dateOfBirth"])                        
        drivers["nationality"].append(path['Drivers'][item]["nationality"])
        drivers["url"].append(path['Drivers'][item]["url"])
        
        try:                   
            drivers['number'].append(int(path['Drivers'][item]['permanentNumber']))
        except:
            drivers["number"].append("")
        try:
            drivers["code"].append(path['Drivers'][item]["code"])
        except:
            drivers["code"].append("")

In [30]:
for i in drivers:
    print(len(drivers[i]))

304
304
304
304
304
304
304
304
304

In [47]:
pd.DataFrame(drivers)

,season,driverId,number,code,forename,surname,dob,nationality,url
0,2010,alguersuari,,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,2010,alonso,,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,2010,barrichello,,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,2010,buemi,,BUE,Sébastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,2010,button,,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...,...,...,...
299,2022,stroll,,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
300,2022,tsunoda,,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
301,2022,max_verstappen,,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
302,2022,vettel,,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
303,2022,zhou,,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [48]:
pd.DataFrame(drivers).to_csv('drivers.csv',index=False)

## Constructors

In [36]:
constructors={"season":[],"constuctorId":[],"name":[],"nationality":[],"url":[],}

In [37]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/constructors.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['ConstructorTable']
    for item in range(0,len(path['Constructors'])):
        constructors["season"].append(int(path['season']))
        constructors["constuctorId"].append(path['Constructors'][item]['constructorId'])
        constructors['name'].append(path['Constructors'][item]['name'])
        constructors['nationality'].append(path['Constructors'][item]['nationality'])
        constructors['url'].append(path['Constructors'][item]['url'])

In [38]:
for i in constructors:
    print(len(constructors[i]))

139
139
139
139
139

In [39]:
pd.DataFrame(constructors)

,season,constuctorId,name,nationality,url
0,2010,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...
134,2022,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,2022,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,2022,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,2022,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,2022,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [49]:
pd.DataFrame(constructors).to_csv('constructors.csv',index=False)

## Circuits

In [37]:
circuits={'season':[],'circuitId':[], 
           'name':[],'location':[], 'country':[],
           'lat':[], 'lng':[], 
           'url':[]}

In [38]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/circuits.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['CircuitTable']
    for item in range(0,len(path['Circuits'])):
        circuits['season'].append(int(path['season']))
        circuits['circuitId'].append(path['Circuits'][item]['circuitId'])
        circuits['name'].append(path['Circuits'][item]['circuitName'])
        circuits['location'].append(path['Circuits'][item]['Location']['locality'])
        circuits['country'].append(path['Circuits'][item]['Location']['country'])
        circuits['lat'].append(float(path['Circuits'][item]['Location']['lat']))
        circuits['lng'].append(float(path['Circuits'][item]['Location']['long']))
        circuits['url'].append(path['Circuits'][item]['url'])

In [39]:
path

{'season': '2022',
 'Circuits': [{'circuitId': 'albert_park',
   'url': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
   'circuitName': 'Albert Park Grand Prix Circuit',
   'Location': {'lat': '-37.8497',
    'long': '144.968',
    'locality': 'Melbourne',
    'country': 'Australia'}},
  {'circuitId': 'americas',
   'url': 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas',
   'circuitName': 'Circuit of the Americas',
   'Location': {'lat': '30.1328',
    'long': '-97.6411',
    'locality': 'Austin',
    'country': 'USA'}},
  {'circuitId': 'bahrain',
   'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
   'circuitName': 'Bahrain International Circuit',
   'Location': {'lat': '26.0325',
    'long': '50.5106',
    'locality': 'Sakhir',
    'country': 'Bahrain'}},
  {'circuitId': 'baku',
   'url': 'http://en.wikipedia.org/wiki/Baku_City_Circuit',
   'circuitName': 'Baku City Circuit',
   'Location': {'lat': '40.3725',
    'long': '49.8533',
    'locality': 'Baku',
    'country': 'Azerbaijan'}},
  {'circuitId': 'catalunya',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
   'circuitName': 'Circuit de Barcelona-Catalunya',
   'Location': {'lat': '41.57',
    'long': '2.26111',
    'locality': 'Montmeló',
    'country': 'Spain'}},
  {'circuitId': 'hungaroring',
   'url': 'http://en.wikipedia.org/wiki/Hungaroring',
   'circuitName': 'Hungaroring',
   'Location': {'lat': '47.5789',
    'long': '19.2486',
    'locality': 'Budapest',
    'country': 'Hungary'}},
  {'circuitId': 'imola',
   'url': 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari',
   'circuitName': 'Autodromo Enzo e Dino Ferrari',
   'Location': {'lat': '44.3439',
    'long': '11.7167',
    'locality': 'Imola',
    'country': 'Italy'}},
  {'circuitId': 'interlagos',
   'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
   'circuitName': 'Autódromo José Carlos Pace',
   'Location': {'lat': '-23.7036',
    'long': '-46.6997',
    'locality': 'São Paulo',
    'country': 'Brazil'}},
  {'circuitId': 'jeddah',
   'url': 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit',
   'circuitName': 'Jeddah Corniche Circuit',
   'Location': {'lat': '21.6319',
    'long': '39.1044',
    'locality': 'Jeddah',
    'country': 'Saudi Arabia'}},
  {'circuitId': 'marina_bay',
   'url': 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
   'circuitName': 'Marina Bay Street Circuit',
   'Location': {'lat': '1.2914',
    'long': '103.864',
    'locality': 'Marina Bay',
    'country': 'Singapore'}},
  {'circuitId': 'miami',
   'url': 'http://en.wikipedia.org/wiki/Miami_International_Autodrome',
   'circuitName': 'Miami International Autodrome',
   'Location': {'lat': '25.9581',
    'long': '-80.2389',
    'locality': 'Miami',
    'country': 'USA'}},
  {'circuitId': 'monaco',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
   'circuitName': 'Circuit de Monaco',
   'Location': {'lat': '43.7347',
    'long': '7.42056',
    'locality': 'Monte-Carlo',
    'country': 'Monaco'}},
  {'circuitId': 'monza',
   'url': 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
   'circuitName': 'Autodromo Nazionale di Monza',
   'Location': {'lat': '45.6156',
    'long': '9.28111',
    'locality': 'Monza',
    'country': 'Italy'}},
  {'circuitId': 'red_bull_ring',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Ring',
   'circuitName': 'Red Bull Ring',
   'Location': {'lat': '47.2197',
    'long': '14.7647',
    'locality': 'Spielberg',
    'country': 'Austria'}},
  {'circuitId': 'ricard',
   'url': 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit',
   'circuitName': 'Circuit Paul Ricard',
   'Location': {'lat': '43.2506',
    'long': '5.79167',
    'locality': 'Le Castellet',
    'country': 'France'}},
  {'circuitId': 'rodriguez',
   'url': 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez',
   'circuitName': 'Autódromo Hermanos Rodríguez',
   'Location': {'lat': '19.4042',
    'long': '-99.0907',
    'locality': 'Mexico City',
    'country': 'Mexico'}},
  {'circuitId': 'silverstone',
   'url': 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
   'circuitName': 'Silverstone Circuit',
   'Location': {'lat': '52.0786',
    'long': '-1.01694',
    'locality': 'Silverstone',
    'country': 'UK'}},
  {'circuitId': 'spa',
   'url': 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
   'circuitName': 'Circuit de Spa-Francorchamps',
   'Location': {'lat': '50.4372',
    'long': '5.97139',
    'locality': 'Spa',
    'country': 'Belgium'}},
  {'circuitId': 'suzuka',
   'url': 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
   'circuitName': 'Suzuka Circuit',
   'Location': {'lat': '34.8431',
    'long': '136.541',
    'locality': 'Suzuka',
    'country': 'Japan'}},
  {'circuitId': 'villeneuve',
   'url': 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
   'circuitName': 'Circuit Gilles Villeneuve',
   'Location': {'lat': '45.5',
    'long': '-73.5228',
    'locality': 'Montreal',
    'country': 'Canada'}},
  {'circuitId': 'yas_marina',
   'url': 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
   'circuitName': 'Yas Marina Circuit',
   'Location': {'lat': '24.4672',
    'long': '54.6031',
    'locality': 'Abu Dhabi',
    'country': 'UAE'}},
  {'circuitId': 'zandvoort',
   'url': 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
   'circuitName': 'Circuit Park Zandvoort',
   'Location': {'lat': '52.3888',
    'long': '4.54092',
    'locality': 'Zandvoort',
    'country': 'Netherlands'}}]}

In [52]:
for i in circuits:
    print(len(circuits[i]))

255
255
255
255
255
255
255
255

In [53]:
pd.DataFrame(circuits)

,season,circuitId,name,location,country,lat,lng,url
0,2010,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.0325,50.51060,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.5700,2.26111,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,hockenheimring,Hockenheimring,Hockenheim,Germany,49.3278,8.56583,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,hungaroring,Hungaroring,Budapest,Hungary,47.5789,19.24860,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...,...
250,2022,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.4372,5.97139,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,2022,suzuka,Suzuka Circuit,Suzuka,Japan,34.8431,136.54100,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,2022,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.5000,-73.52280,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,2022,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.60310,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,2022,zandvoort,Circuit Park Zandvoort,Zandvoort,Netherlands,52.3888,4.54092,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [54]:
pd.DataFrame(circuits).to_csv('circuits.csv',index=False)

## Qualifying

In [40]:
qualifiying={"season":[],"driverId":[],"ConstructorId":[],"number":[],"position":[],"qualifyId":[],"raceId":[],"q1":[],"q2":[],"q3":[]}

In [ ]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    u=0
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/qualifying.json?limit=100'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for k in content['MRData']['RaceTable']['Races']:
            for k1 in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
                qualifiying["season"].append(int(k['season']))
                qualifiying["qualifyId"].append(int( k['round']))
                qualifiying["raceId"].append(k['raceName']) 
                qualifiying["driverId"].append(k1['Driver']['driverId'])   
                qualifiying["ConstructorId"].append(k1['Constructor']['constructorId'])
                qualifiying["number"].append(int(k1['number']))
                qualifiying["position"].append(int(k1['position']))
                qualifiying["q1"].append(k1['Q1'])
                try:
                    qualifiying["q2"].append(k1['Q2'])
                except:
                    qualifiying["q2"].append("")
                try:
                    qualifiying["q3"].append(k1['Q3'])
                except:
                    qualifiying["q3"].append("")

In [47]:
content['MRData']['RaceTable']['Races']

[{'season': '2022',
  'round': '22',
  'url': 'http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Grand_Prix',
  'raceName': 'Abu Dhabi Grand Prix',
  'Circuit': {'circuitId': 'yas_marina',
   'url': 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
   'circuitName': 'Yas Marina Circuit',
   'Location': {'lat': '24.4672',
    'long': '54.6031',
    'locality': 'Abu Dhabi',
    'country': 'UAE'}},
  'date': '2022-11-20',
  'time': '13:00:00Z',
  'QualifyingResults': [{'number': '1',
    'position': '1',
    'Driver': {'driverId': 'max_verstappen',
     'permanentNumber': '33',
     'code': 'VER',
     'url': 'http://en.wikipedia.org/wiki/Max_Verstappen',
     'givenName': 'Max',
     'familyName': 'Verstappen',
     'dateOfBirth': '1997-09-30',
     'nationality': 'Dutch'},
    'Constructor': {'constructorId': 'red_bull',
     'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
     'name': 'Red Bull',
     'nationality': 'Austrian'},
    'Q1': '1:24.754',
    'Q2': '1:24.622',
    'Q3': '1:23.824'},
   {'number': '11',
    'position': '2',
    'Driver': {'driverId': 'perez',
     'permanentNumber': '11',
     'code': 'PER',
     'url': 'http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez',
     'givenName': 'Sergio',
     'familyName': 'Pérez',
     'dateOfBirth': '1990-01-26',
     'nationality': 'Mexican'},
    'Constructor': {'constructorId': 'red_bull',
     'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
     'name': 'Red Bull',
     'nationality': 'Austrian'},
    'Q1': '1:24.820',
    'Q2': '1:24.419',
    'Q3': '1:24.052'},
   {'number': '16',
    'position': '3',
    'Driver': {'driverId': 'leclerc',
     'permanentNumber': '16',
     'code': 'LEC',
     'url': 'http://en.wikipedia.org/wiki/Charles_Leclerc',
     'givenName': 'Charles',
     'familyName': 'Leclerc',
     'dateOfBirth': '1997-10-16',
     'nationality': 'Monegasque'},
    'Constructor': {'constructorId': 'ferrari',
     'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
     'name': 'Ferrari',
     'nationality': 'Italian'},
    'Q1': '1:25.211',
    'Q2': '1:24.517',
    'Q3': '1:24.092'},
   {'number': '55',
    'position': '4',
    'Driver': {'driverId': 'sainz',
     'permanentNumber': '55',
     'code': 'SAI',
     'url': 'http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.',
     'givenName': 'Carlos',
     'familyName': 'Sainz',
     'dateOfBirth': '1994-09-01',
     'nationality': 'Spanish'},
    'Constructor': {'constructorId': 'ferrari',
     'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
     'name': 'Ferrari',
     'nationality': 'Italian'},
    'Q1': '1:25.090',
    'Q2': '1:24.521',
    'Q3': '1:24.242'},
   {'number': '44',
    'position': '5',
    'Driver': {'driverId': 'hamilton',
     'permanentNumber': '44',
     'code': 'HAM',
     'url': 'http://en.wikipedia.org/wiki/Lewis_Hamilton',
     'givenName': 'Lewis',
     'familyName': 'Hamilton',
     'dateOfBirth': '1985-01-07',
     'nationality': 'British'},
    'Constructor': {'constructorId': 'mercedes',
     'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
     'name': 'Mercedes',
     'nationality': 'German'},
    'Q1': '1:25.594',
    'Q2': '1:24.774',
    'Q3': '1:24.508'},
   {'number': '63',
    'position': '6',
    'Driver': {'driverId': 'russell',
     'permanentNumber': '63',
     'code': 'RUS',
     'url': 'http://en.wikipedia.org/wiki/George_Russell_%28racing_driver%29',
     'givenName': 'George',
     'familyName': 'Russell',
     'dateOfBirth': '1998-02-15',
     'nationality': 'British'},
    'Constructor': {'constructorId': 'mercedes',
     'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
     'name': 'Mercedes',
     'nationality': 'German'},
    'Q1': '1:25.545',
    'Q2': '1:24.940',
    'Q3': '1:24.511'},
   {'number': '4',
    'position': '7',
    'Driver': {'driverId': 'norris',
     'permanentNumber': '4',
     'code': 'NOR',
     'url': 'http://en.wikipedia.org/wiki/Lando_Norris',
     'givenName': 'Lando',
     'familyName': 'Norris',
     'dateOfBirth': '1999-11-13',
     'nationality': 'British'},
    'Constructor': {'constructorId': 'mclaren',
     'url': 'http://en.wikipedia.org/wiki/McLaren',
     'name': 'McLaren',
     'nationality': 'British'},
    'Q1': '1:25.387',
    'Q2': '1:24.903',
    'Q3': '1:24.769'},
   {'number': '31',
    'position': '8',
    'Driver': {'driverId': 'ocon',
     'permanentNumber': '31',
     'code': 'OCO',
     'url': 'http://en.wikipedia.org/wiki/Esteban_Ocon',
     'givenName': 'Esteban',
     'familyName': 'Ocon',
     'dateOfBirth': '1996-09-17',
     'nationality': 'French'},
    'Constructor': {'constructorId': 'alpine',
     'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
     'name': 'Alpine F1 Team',
     'nationality': 'French'},
    'Q1': '1:25.735',
    'Q2': '1:25.007',
    'Q3': '1:24.830'},
   {'number': '5',
    'position': '9',
    'Driver': {'driverId': 'vettel',
     'permanentNumber': '5',
     'code': 'VET',
     'url': 'http://en.wikipedia.org/wiki/Sebastian_Vettel',
     'givenName': 'Sebastian',
     'familyName': 'Vettel',
     'dateOfBirth': '1987-07-03',
     'nationality': 'German'},
    'Constructor': {'constructorId': 'aston_martin',
     'url': 'http://en.wikipedia.org/wiki/Aston_Martin_in_Formula_One',
     'name': 'Aston Martin',
     'nationality': 'British'},
    'Q1': '1:25.523',
    'Q2': '1:24.974',
    'Q3': '1:24.961'},
   {'number': '3',
    'position': '10',
    'Driver': {'driverId': 'ricciardo',
     'permanentNumber': '3',
     'code': 'RIC',
     'url': 'http://en.wikipedia.org/wiki/Daniel_Ricciardo',
     'givenName': 'Daniel',
     'familyName': 'Ricciardo',
     'dateOfBirth': '1989-07-01',
     'nationality': 'Australian'},
    'Constructor': {'constructorId': 'mclaren',
     'url': 'http://en.wikipedia.org/wiki/McLaren',
     'name': 'McLaren',
     'nationality': 'British'},
    'Q1': '1:25.766',
    'Q2': '1:25.068',
    'Q3': '1:25.045'},
   {'number': '14',
    'position': '11',
    'Driver': {'driverId': 'alonso',
     'permanentNumber': '14',
     'code': 'ALO',
     'url': 'http://en.wikipedia.org/wiki/Fernando_Alonso',
     'givenName': 'Fernando',
     'familyName': 'Alonso',
     'dateOfBirth': '1981-07-29',
     'nationality': 'Spanish'},
    'Constructor': {'constructorId': 'alpine',
     'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
     'name': 'Alpine F1 Team',
     'nationality': 'French'},
    'Q1': '1:25.782',
    'Q2': '1:25.096'},
   {'number': '22',
    'position': '12',
    'Driver': {'driverId': 'tsunoda',
     'permanentNumber': '22',
     'code': 'TSU',
     'url': 'http://en.wikipedia.org/wiki/Yuki_Tsunoda',
     'givenName': 'Yuki',
     'familyName': 'Tsunoda',
     'dateOfBirth': '2000-05-11',
     'nationality': 'Japanese'},
    'Constructor': {'constructorId': 'alphatauri',
     'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri',
     'name': 'AlphaTauri',
     'nationality': 'Italian'},
    'Q1': '1:25.630',
    'Q2': '1:25.219'},
   {'number': '47',
    'position': '13',
    'Driver': {'driverId': 'mick_schumacher',
     'permanentNumber': '47',
     'code': 'MSC',
     'url': 'http://en.wikipedia.org/wiki/Mick_Schumacher',
     'givenName': 'Mick',
     'familyName': 'Schumacher',
     'dateOfBirth': '1999-03-22',
     'nationality': 'German'},
    'Constructor': {'constructorId': 'haas',
     'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
     'name': 'Haas F1 Team',
     'nationality': 'American'},
    'Q1': '1:25.711',
    'Q2': '1:25.225'},
   {'number': '18',
    'position': '14',
    'Driver': {'driverId': 'stroll',
     'permanentNumber': '18',
     'code': 'STR',
     'url': 'http://en.wikipedia.org/wiki/Lance_Stroll',
     'givenName': 'Lance',
     'familyName': 'Stroll',
     'dateOfBirth': '1998-10-29',
     'nationality': 'Canadian'},
    'Constructor': {'constructorId': 'aston_martin',
     'url': 'http://en.wikipedia.org/wiki/Aston_Martin_in_Formula_One',
     'name': 'Aston Martin',
     'nationality': 'British'},
    'Q1': '1:25.741',
    'Q2': '1:25.359'},
   {'number': '24',
    'position': '15',
    'Driver': {'driverId': 'zhou',
     'permanentNumber': '24',
     'code': 'ZHO',
     'url': 'http://en.wikipedia.org/wiki/Guanyu_Zhou',
     'givenName': 'Guanyu',
     'familyName': 'Zhou',
     'dateOfBirth': '1999-05-30',
     'nationality': 'Chinese'},
    'Constructor': {'constructorId': 'alfa',
     'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
     'name': 'Alfa Romeo',
     'nationality': 'Swiss'},
    'Q1': '1:25.594',
    'Q2': '1:25.408'},
   {'number': '20',
    'position': '16',
    'Driver': {'driverId': 'kevin_magnussen',
     'permanentNumber': '20',
     'code': 'MAG',
     'url': 'http://en.wikipedia.org/wiki/Kevin_Magnussen',
     'givenName': 'Kevin',
     'familyName': 'Magnussen',
     'dateOfBirth': '1992-10-05',
     'nationality': 'Danish'},
    'Constructor': {'constructorId': 'haas',
     'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
     'name': 'Haas F1 Team',
     'nationality': 'American'},
    'Q1': '1:25.834'},
   {'number': '10',
    'position': '17',
    'Driver': {'driverId': 'gasly',
     'permanentNumber': '10',
     'code': 'GAS',
     'url': 'http://en.wikipedia.org/wiki/Pierre_Gasly',
     'givenName': 'Pierre',
     'familyName': 'Gasly',
     'dateOfBirth': '1996-02-07',
     'nationality': 'French'},
    'Constructor': {'constructorId': 'alphatauri',
     'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri',
     'name': 'AlphaTauri',
     'nationality': 'Italian'},
    'Q1': '1:25.859'},
   {'number': '77',
    'position': '18',
    'Driver': {'driverId': 'bottas',
     'permanentNumber': '77',
     'code': 'BOT',
     'url': 'http://en.wikipedia.org/wiki/Valtteri_Bottas',
     'givenName': 'Valtteri',
     'familyName': 'Bottas',
     'dateOfBirth': '1989-08-28',
     'nationality': 'Finnish'},
    'Constructor': {'constructorId': 'alfa',
     'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
     'name': 'Alfa Romeo',
     'nationality': 'Swiss'},
    'Q1': '1:25.892'},
   {'number': '23',
    'position': '19',
    'Driver': {'driverId': 'albon',
     'permanentNumber': '23',
     'code': 'ALB',
     'url': 'http://en.wikipedia.org/wiki/Alexander_Albon',
     'givenName': 'Alexander',
     'familyName': 'Albon',
     'dateOfBirth': '1996-03-23',
     'nationality': 'Thai'},
    'Constructor': {'constructorId': 'williams',
     'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
     'name': 'Williams',
     'nationality': 'British'},
    'Q1': '1:26.028'},
   {'number': '6',
    'position': '20',
    'Driver': {'driverId': 'latifi',
     'permanentNumber': '6',
     'code': 'LAT',
     'url': 'http://en.wikipedia.org/wiki/Nicholas_Latifi',
     'givenName': 'Nicholas',
     'familyName': 'Latifi',
     'dateOfBirth': '1995-06-29',
     'nationality': 'Canadian'},
    'Constructor': {'constructorId': 'williams',
     'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
     'name': 'Williams',
     'nationality': 'British'},
    'Q1': '1:26.054'}]}]

In [57]:
for i in qualifiying:
    print(len(qualifiying[i]))

5493
5493
5493
5493
5493
5493
5493
5493
5493
5493

In [58]:
pd.DataFrame(qualifiying).head()

,season,driverId,ConstructorId,number,position,qualifyId,raceId,q1,q2,q3
0,2010,vettel,red_bull,5,1,1,Bahrain Grand Prix,1:55.029,1:53.883,1:54.101
1,2010,massa,ferrari,7,2,1,Bahrain Grand Prix,1:55.313,1:54.331,1:54.242
2,2010,alonso,ferrari,8,3,1,Bahrain Grand Prix,1:54.612,1:54.172,1:54.608
3,2010,hamilton,mclaren,2,4,1,Bahrain Grand Prix,1:55.341,1:54.707,1:55.217
4,2010,rosberg,mercedes,4,5,1,Bahrain Grand Prix,1:55.463,1:54.682,1:55.241

In [59]:
pd.DataFrame(qualifiying).to_csv('qualifiying.csv',index=False)

# Sprint Results

In [78]:
sprintResult={'season':[],#'sprintResultId':[], 
           'raceId':[],'driverId':[], 'constructorId':[],
           'number':[], 'grid':[], 
           'position':[], 'positionText':[],# 'positionOrder':[],
           'points':[],'laps':[], 'time':[], 'milliseconds':[],
           'fastestLap':[],'fastestLapTime':[], 'statusId':[]}

In [79]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/sprint.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['RaceTable']
    for item in range(0,len(path['Races'])):
        for k in path['Races'][item]['SprintResults']:
            sprintResult['season'].append(int(path['season']))
            #sprintResult['sprintResultId'].append(path['Races'][''])
            sprintResult['raceId'].append(path['Races'][item]['raceName'])
            sprintResult['driverId'].append(k['Driver']['driverId'])
            sprintResult['constructorId'].append(k['Constructor']['constructorId'])
            sprintResult['number'].append(int(k['number']))
            sprintResult['grid'].append(k['grid'])
            sprintResult['position'].append(int(k['position']))
            sprintResult['positionText'].append((k['positionText']))
            #sprintResult['positionOrder'].append(k['circuitId'])
            sprintResult['points'].append(int(k['points']))
            sprintResult['laps'].append(int(k['laps']))
            try:
                sprintResult['time'].append(k['Time']['time'])
            except:
                sprintResult["time"].append("")
            try:
                sprintResult['milliseconds'].append(k['Time']['millis'])
            except:
                sprintResult["milliseconds"].append("")
            try:
                sprintResult['fastestLap'].append(int(k['FastestLap']['lap']))
            except:
                sprintResult["fastestLap"].append("")
            try:
                sprintResult['fastestLapTime'].append(k['Time']['time'])
            except:
                sprintResult["fastestLapTime"].append("")
            sprintResult['statusId'].append(k['status'])

In [67]:
content['MRData']['RaceTable']['Races'][2]['SprintResults'][2]['Time']

{'millis': '1768282', 'time': '+18.723'}

In [80]:
for i in sprintResult:
    print(len(sprintResult[i]))

120
120
120
120
120
120
120
120
120
120
120
120
120
120
120

In [81]:
pd.DataFrame(sprintResult)

,season,raceId,driverId,constructorId,number,grid,position,positionText,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,2021,British Grand Prix,max_verstappen,red_bull,33,2,1,1,3,17,25:38.426,1538426,14,25:38.426,Finished
1,2021,British Grand Prix,hamilton,mercedes,44,1,2,2,2,17,+1.430,1539856,17,+1.430,Finished
2,2021,British Grand Prix,bottas,mercedes,77,3,3,3,1,17,+7.502,1545928,17,+7.502,Finished
3,2021,British Grand Prix,leclerc,ferrari,16,4,4,4,0,17,+11.278,1549704,16,+11.278,Finished
4,2021,British Grand Prix,norris,mclaren,4,6,5,5,0,17,+24.111,1562537,16,+24.111,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2022,Brazilian Grand Prix,stroll,aston_martin,18,15,16,16,0,24,+50.700,1862007,4,+50.700,Finished
116,2022,Brazilian Grand Prix,ocon,alpine,31,6,17,17,0,24,+51.756,1863063,5,+51.756,Finished
117,2022,Brazilian Grand Prix,alonso,alpine,14,7,18,18,0,24,+53.985,1865292,5,+53.985,Finished
118,2022,Brazilian Grand Prix,latifi,williams,6,16,19,19,0,24,+1:16.850,1888157,4,+1:16.850,Finished
119,2022,Brazilian Grand Prix,albon,williams,23,11,20,R,0,12,,,4,,Retired

In [82]:
pd.DataFrame(sprintResult).to_csv('sprintResult.csv',index=False)

# Status

In [100]:
status={'season':[],'statusId':[],'status':[]}

In [101]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/status.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['StatusTable']
    for item in range(0,len(path['Status'])):
        status['season'].append(int(path['season']))
        #sprintResult['sprintResultId'].append(path['Races'][''])
        status['statusId'].append(int(path['Status'][item]['statusId']))
        status['status'].append(path['Status'][item]['status'])

In [16]:
content['MRData']['StatusTable']

{'season': '2022',
 'Status': [{'statusId': '1', 'count': '279', 'status': 'Finished'},
  {'statusId': '3', 'count': '8', 'status': 'Accident'},
  {'statusId': '4', 'count': '10', 'status': 'Collision'},
  {'statusId': '5', 'count': '7', 'status': 'Engine'},
  {'statusId': '6', 'count': '4', 'status': 'Gearbox'},
  {'statusId': '9', 'count': '4', 'status': 'Hydraulics'},
  {'statusId': '11', 'count': '80', 'status': '+1 Lap'},
  {'statusId': '12', 'count': '6', 'status': '+2 Laps'},
  {'statusId': '16', 'count': '1', 'status': '+6 Laps'},
  {'statusId': '20', 'count': '2', 'status': 'Spun off'},
  {'statusId': '22', 'count': '1', 'status': 'Suspension'},
  {'statusId': '24', 'count': '1', 'status': 'Differential'},
  {'statusId': '26', 'count': '1', 'status': 'Mechanical'},
  {'statusId': '32', 'count': '2', 'status': 'Fuel pressure'},
  {'statusId': '33', 'count': '1', 'status': 'Front wing'},
  {'statusId': '34', 'count': '2', 'status': 'Water pressure'},
  {'statusId': '44', 'count': '1', 'status': 'Oil leak'},
  {'statusId': '47', 'count': '2', 'status': 'Water leak'},
  {'statusId': '48', 'count': '1', 'status': 'Fuel pump'},
  {'statusId': '54', 'count': '1', 'status': 'Withdrew'},
  {'statusId': '75', 'count': '1', 'status': 'Power loss'},
  {'statusId': '76', 'count': '1', 'status': 'Vibrations'},
  {'statusId': '95', 'count': '1', 'status': 'Fuel leak'},
  {'statusId': '101', 'count': '1', 'status': 'Turbo'},
  {'statusId': '103', 'count': '1', 'status': 'Water pump'},
  {'statusId': '130', 'count': '12', 'status': 'Collision damage'},
  {'statusId': '131', 'count': '6', 'status': 'Power Unit'},
  {'statusId': '140', 'count': '2', 'status': 'Undertray'},
  {'statusId': '141', 'count': '1', 'status': 'Cooling system'}]}

In [102]:
for i in status:
    print(len(status[i]))

369
369
369

In [103]:
pd.DataFrame(status).head()

   season  statusId     status
0    2010         1   Finished
1    2010         3   Accident
2    2010         4  Collision
3    2010         5     Engine
4    2010         6    Gearbox

In [26]:
pd.DataFrame(status).to_csv('status.csv',index=False)

# Results

In [17]:
results = {'season':[],#'resultsId':[], 
           'raceId':[],'driverId':[], 'constructorId':[],
           'number':[], 'grid':[], 
           'position':[], 'positionText':[], #'positionOrder':[],
           'points':[],'laps':[], 'time':[], 'milliseconds':[],
           'fastestLap':[],'rank':[],'fastestLapTime':[],#'fastestLapSpeed':[],
           'statusId':[]}

In [123]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['RaceTable']
    for item in range(0,len(path['Races'])):
        for k in path['Races'][item]['Results']:
            results['season'].append(int(path['season']))
            #results['resultsId'].append(path['Races'][''])
            results['raceId'].append(path['Races'][item]['raceName'])
            results['driverId'].append(k['Driver']['driverId'])
            results['constructorId'].append(k['Constructor']['constructorId'])
            results['number'].append(int(k['number']))
            results['grid'].append(k['grid'])
            results['position'].append(int(k['position']))
            results['positionText'].append(k['positionText'])
            #results['positionOrder'].append(k['circuitId'])
            results['points'].append(float(k['points']))
            results['laps'].append(int(k['laps']))
            try:                        
                results['time'].append(k['Time']['time'])
            except:
                results['time'].append('')
            try:                                    
                results['milliseconds'].append(k['Time']['millis'])
            except:
                results['milliseconds'].append('')
            try:
                results['fastestLap'].append(int(k['FastestLap']['lap']))
            except:
                results['fastestLap'].append('')
            try:
                results['rank'].append(int(k['FastestLap']['rank']))
            except:
                results['rank'].append('')
            try:
                results['fastestLapTime'].append(int(k['FastestLap']['Time']['time']))
            except:
                results['fastestLapTime'].append('')
            #results['fastestLapSpeed'].append(path['Races'][item]['Results']['FastestLap']['Time']['time'])
            results['statusId'].append(k['status'])

In [131]:
content['MRData']['RaceTable']['Races'][2]['Results'][2]['Time']

{'millis': '5292141', 'time': '+25.593'}

In [124]:
for i in results:
    print(len(results[i]))

5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517
5517

In [125]:
pd.DataFrame(results).head()

,season,raceId,driverId,constructorId,number,grid,position,positionText,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,statusId
0,2010,Bahrain Grand Prix,alonso,ferrari,8,3,1,1,25.0,49,1:39:20.396,5960396,45,1,,Finished
1,2010,Bahrain Grand Prix,massa,ferrari,7,2,2,2,18.0,49,+16.099,5976495,38,5,,Finished
2,2010,Bahrain Grand Prix,hamilton,mclaren,2,4,3,3,15.0,49,+23.182,5983578,42,4,,Finished
3,2010,Bahrain Grand Prix,vettel,red_bull,5,1,4,4,12.0,49,+38.799,5999195,32,12,,Finished
4,2010,Bahrain Grand Prix,rosberg,mercedes,4,5,5,5,10.0,49,+40.213,6000609,45,13,,Finished

In [126]:
pd.DataFrame(results).to_csv('results.csv',index=False)

# Pit Stops

In [3]:
pitStops = {'season':[],"raceId":[],'driverId':[], 'stop':[],
           'lap':[], 'time':[], 'duration':[]}#, 'milliseconds':[]}

In [4]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/pitstops.json?limit=1000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    i=0 
    for j in links:
        try:
            response = requests.get(j)
            content=json.loads(response.content)
        except:
            print(f"Hay un error en {j}")
        try: 
            content['MRData']['RaceTable']['Races'][0]['PitStops']
            for item in content['MRData']['RaceTable']['Races'][0]['PitStops']:
                pitStops["raceId"].append(content['MRData']['RaceTable']['Races'][0]['round'])
                pitStops["season"].append(int(content['MRData']['RaceTable']['Races'][0]['season']))
                pitStops["driverId"].append(item['driverId'])
                pitStops["stop"].append(int(item['stop']))
                pitStops["lap"].append(int(item['lap']))
                pitStops["time"].append(item['time'])
                pitStops["duration"].append(item['duration'])
            
        except:
            print(f"Hay un error en {j}")
            
        

pitStopss=pd.DataFrame(pitStops)         
pitStopss.head()

Hay un error en http://ergast.com/api/f1/2010/1/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/2/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/3/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/4/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/5/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/6/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/7/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/8/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/9/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/10/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/11/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/12/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/13/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/14/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/15/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/16/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/17/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/18/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/19/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/12/pitstops.json?limit=1000

   season raceId            driverId  stop  lap      time duration
0    2011      1         alguersuari     1    1  17:05:23   26.898
1    2011      1  michael_schumacher     1    1  17:05:52   25.021
2    2011      1              webber     1   11  17:20:48   23.426
3    2011      1              alonso     1   12  17:22:34   23.251
4    2011      1               massa     1   13  17:24:10   23.842

In [5]:
for i in pitStopss:
    print(len(pitStopss[i]))

9634
9634
9634
9634
9634
9634
9634

In [6]:
pitStopss

      season raceId            driverId  stop  lap      time duration
0       2011      1         alguersuari     1    1  17:05:23   26.898
1       2011      1  michael_schumacher     1    1  17:05:52   25.021
2       2011      1              webber     1   11  17:20:48   23.426
3       2011      1              alonso     1   12  17:22:34   23.251
4       2011      1               massa     1   13  17:24:10   23.842
...      ...    ...                 ...   ...  ...       ...      ...
9629    2022     22              latifi     2   38  18:02:50   25.174
9630    2022     22              stroll     2   40  18:04:44   21.802
9631    2022     22                ocon     2   41  18:06:09   21.734
9632    2022     22              norris     2   42  18:07:36   21.559
9633    2022     22                zhou     2   44  18:11:10   23.159

[9634 rows x 7 columns]

In [8]:
pd.DataFrame(pitStops).to_csv('pitStops.csv',index=False)

# Lap Times

In [2]:
lapTimes = {'season':[],'round':[],'raceId':[],'driverId':[], 'lap':[],
           'position':[], 'time':[]}

In [3]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    links=[]
    for i in range(1,len(content['MRData']['RaceTable']['Races'])+1):
        url2=url3+'/{}/laps.json?limit=10000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for i in content['MRData']['RaceTable']["Races"][0]["Laps"]:
            for item in i['Timings']:
                try:
                    lapTimes["season"].append(int(content['MRData']['RaceTable']['Races'][0]['season']))                    
                except:
                    lapTimes["season"].append("")
                try:
                    lapTimes["round"].append(int(content['MRData']['RaceTable']['Races'][0]['round']))                   
                except:
                    lapTimes["round"].append("")
                try:
                    lapTimes["raceId"].append(content['MRData']['RaceTable']["Races"][0]['raceName'])
                except:
                    lapTimes["raceId"].append("")
                try:
                    lapTimes["driverId"].append(item['driverId'])
                except:
                    lapTimes["driverId"].append("")
                try:
                    lapTimes["lap"].append(int(i['number']))
                except:
                    lapTimes["lap"].append("")
                try:
                    lapTimes["position"].append(int(item['position']))
                except:
                    lapTimes["position"].append("")
                try:
                    lapTimes["time"].append(item['time'])
                except:
                    lapTimes["time"].append("")
                
lapTimes_df=pd.DataFrame.from_dict(lapTimes,orient='index')

In [4]:
lapTimes_df=lapTimes_df.transpose()

In [5]:
for i in lapTimes_df:
    print(len(lapTimes_df[i]))

291848
291848
291848
291848
291848
291848
291848

In [6]:
pd.DataFrame(lapTimes_df).head()

  season round              raceId  driverId lap position      time
0   2010     1  Bahrain Grand Prix    vettel   1        1  2:03.366
1   2010     1  Bahrain Grand Prix    alonso   1        2  2:05.394
2   2010     1  Bahrain Grand Prix     massa   1        3  2:06.758
3   2010     1  Bahrain Grand Prix   rosberg   1        4  2:08.063
4   2010     1  Bahrain Grand Prix  hamilton   1        5  2:08.558

In [7]:
pd.DataFrame(lapTimes_df).to_csv('lapTimes.csv',index=False)

# Driver Standing

In [55]:
driverStandings = {'season':[],#'driverStandings':[],"raceId":[],
                   'driverId':[], 'points':[], 'position':[],
                   'positionText':[], 'wins':[]}

In [56]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/driverStandings.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['StandingsTable']
    for item in range(0,len(path['StandingsLists'])):
        for k in path['StandingsLists'][item]['DriverStandings']:
            driverStandings['season'].append(int(path['season']))
            #driverStandings['raceId'].append(path['Races'][item]['raceName'])
            driverStandings['driverId'].append(k['Driver']['driverId'])
            driverStandings['points'].append(float(k['points']))
            driverStandings['position'].append(int(k['position']))
            driverStandings['positionText'].append(k['positionText'])
            driverStandings['wins'].append(int(k['wins']))

In [53]:
path['StandingsLists'][0]['DriverStandings'][0]

{'position': '1',
 'positionText': '1',
 'points': '454',
 'wins': '15',
 'Driver': {'driverId': 'max_verstappen',
  'permanentNumber': '33',
  'code': 'VER',
  'url': 'http://en.wikipedia.org/wiki/Max_Verstappen',
  'givenName': 'Max',
  'familyName': 'Verstappen',
  'dateOfBirth': '1997-09-30',
  'nationality': 'Dutch'},
 'Constructors': [{'constructorId': 'red_bull',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
   'name': 'Red Bull',
   'nationality': 'Austrian'}]}

In [57]:
for i in driverStandings:
    print(len(driverStandings[i]))

304
304
304
304
304
304

In [58]:
pd.DataFrame(driverStandings).head()

   season  driverId  points  position positionText  wins
0    2010    vettel   256.0         1            1     5
1    2010    alonso   252.0         2            2     5
2    2010    webber   242.0         3            3     4
3    2010  hamilton   240.0         4            4     3
4    2010    button   214.0         5            5     2

In [59]:
pd.DataFrame(driverStandings).to_csv('driverStandings.csv',index=False)

# Constructor Standing

In [66]:
constructorStandings = {'season':[],#'constructorStandings':[],"raceId":[],
                        'constructorId':[],'points':[], 'position':[],
                        'positionText':[], 'wins':[]}

In [67]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/constructorStandings.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['StandingsTable']
    for item in range(0,len(path['StandingsLists'])):
        for k in path['StandingsLists'][item]['ConstructorStandings']:
            constructorStandings['season'].append(int(path['season']))
            #constructorStandings['raceId'].append(path['Races'][item]['raceName'])
            constructorStandings['constructorId'].append(k['Constructor']['constructorId'])
            constructorStandings['points'].append(float(k['points']))
            constructorStandings['position'].append(int(k['position']))
            constructorStandings['positionText'].append(k['positionText'])
            constructorStandings['wins'].append(int(k['wins']))

In [64]:
path['StandingsLists'][0]['ConstructorStandings'][0]

{'position': '1',
 'positionText': '1',
 'points': '759',
 'wins': '17',
 'Constructor': {'constructorId': 'red_bull',
  'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
  'name': 'Red Bull',
  'nationality': 'Austrian'}}

In [68]:
for i in constructorStandings:
    print(len(constructorStandings[i]))

139
139
139
139
139
139

In [69]:
pd.DataFrame(constructorStandings).head()

   season constructorId  points  position positionText  wins
0    2010      red_bull   498.0         1            1     9
1    2010       mclaren   454.0         2            2     5
2    2010       ferrari   396.0         3            3     5
3    2010      mercedes   214.0         4            4     0
4    2010       renault   163.0         5            5     0

In [70]:
pd.DataFrame(constructorStandings).to_csv('constructorStandings.csv',index=False)

# Constructor Results

In [88]:
constructorResults = {'season':[],#'constructorResultsId':[],
                      "raceId":[],'constructorId':[],
                      'points':[], 'status':[]}

In [89]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['RaceTable']
    for item in range(0,len(path['Races'])):
        for k in path['Races'][item]['Results']:
            constructorResults['season'].append(int(path['season']))
            constructorResults['raceId'].append(path['Races'][item]['raceName'])
            constructorResults['constructorId'].append(k['Constructor']['constructorId'])
            constructorResults['points'].append(float(k['points']))
            constructorResults['status'].append(k['status'])

In [90]:
path['Races'][0]['Results'][0]

{'number': '16',
 'position': '1',
 'positionText': '1',
 'points': '26',
 'Driver': {'driverId': 'leclerc',
  'permanentNumber': '16',
  'code': 'LEC',
  'url': 'http://en.wikipedia.org/wiki/Charles_Leclerc',
  'givenName': 'Charles',
  'familyName': 'Leclerc',
  'dateOfBirth': '1997-10-16',
  'nationality': 'Monegasque'},
 'Constructor': {'constructorId': 'ferrari',
  'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
  'name': 'Ferrari',
  'nationality': 'Italian'},
 'grid': '1',
 'laps': '57',
 'status': 'Finished',
 'Time': {'millis': '5853584', 'time': '1:37:33.584'},
 'FastestLap': {'rank': '1',
  'lap': '51',
  'Time': {'time': '1:34.570'},
  'AverageSpeed': {'units': 'kph', 'speed': '206.018'}}}

In [91]:
for i in constructorResults:
    print(len(constructorResults[i]))

5517
5517
5517
5517
5517

In [92]:
pd.DataFrame(constructorResults).head()

   season              raceId constructorId  points    status
0    2010  Bahrain Grand Prix       ferrari    25.0  Finished
1    2010  Bahrain Grand Prix       ferrari    18.0  Finished
2    2010  Bahrain Grand Prix       mclaren    15.0  Finished
3    2010  Bahrain Grand Prix      red_bull    12.0  Finished
4    2010  Bahrain Grand Prix      mercedes    10.0  Finished

In [93]:
pd.DataFrame(constructorResults).to_csv('constructorResults.csv',index=False)